#chatBox{
    position:relative;
    height:65vh;
    overflow-y: hidden;

}
.card{
    margin-bottom:2vh;
}

#formInput{
    margin-bottom:1vh;
}
#body{
background-color:rgba(179, 174, 174, 0.267);
}

#navbar{
    margin:4vh;
    padding:2vh;
    color:rgb(58, 109, 151);
}
#dinoCard{
    height:35vh;
    margin-top:4vh;
    background-color:rgb(181, 213, 223);
}

@media only screen and (max-width: 500px) {
    #dinoCard{
        margin-top:1vh;
        height:23vh;
        margin: 1vh;
    }
    #navbar{
        margin:1vh;
        padding:1vh;
    }
    #chatBox{
        position:relative;
        height:53vh;
        overflow-y: hidden;
    }
    #endOfPage{
        margin-bottom:2vh
    }
  }